:root {
    --blue-bayoux-50: #f5f8fa;
    --blue-bayoux-100: #e9eff5;
    --blue-bayoux-200: #cfdde8;
    --blue-bayoux-600: #3b6381;
    --blue-bayoux-700: #345670;
    --blue-bayoux-800: #0b3d93;
    --blue-bayoux-900: #122754;
    --blue-bayoux-950: #080d28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Protest Strike', sans-serif;
    color: var(--blue-bayoux-50);
    overflow: hidden;
    background: var(--blue-bayoux-100);
}

.containertarifador{
    display: grid;
    grid:
        "menu-dashboard contdatos" 1fr / auto 1fr;
    gap: 8px;
}

.contdatos{
    color: #080d28;
    padding: 8px;
}

hr {
    border: solid 1px;
    margin: 14px auto auto;
}

.menu-dashboard {
    width: 150px;
    height: 100vh;
    background: var(--blue-bayoux-700);
    padding: 20px;
    position: relative;
    transition: max-width .3s ease;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 40px;
    transition: width .3s ease;
    border-radius: 30px;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enlace {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.menu-dashboard.open .menu .enlace {
    align-items: center;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    justify-content: left;
    padding: 20px 0 20px 17px;
    transition: all 0.8;
    width: 100%;
}

.menu .enlace:hover {
    background: var(--blue-bayoux-100);
    border-radius: 4px;
    color: var(--blue-bayoux-700);
}

.menu .enlace i {
    font-size: 38px;
    padding: 8px;
}


.menu-dashboard.open .menu .enlace span {
    display: block;
}

.menu-dashboard.open .menu .enlace.lognup {
    width: 88%;
}

.menu .enlace span {
    display: none;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    width: 300px;
}


.menu-dashboard.open .top-menu .logo span {
    display: block;
}


.enlace.lognup {
    position: absolute;
    bottom: 0px;
}



@media only screen and (max-width: 600px) {

    .containertarifador{
        display: grid;
        grid:
            none;
        gap: 8px;
    }


    .menu-dashboard.open .menu .enlace.lognup {
        width: 100%;
    }

    .menu {
        display: none;
    }

    .menu-dashboard.open .menu {
        display: flex;
    }
    
    .menu .enlace {
        display: flex;
    }

    .menu .enlace i,
    span {
        opacity: 0;
    }


    .menu-dashboard {
        width: 100%;
        height: 100px;
        flex-direction: column;
    }

    .top-menu {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-dashboard.open {
        height: auto;
        width: 100%;
    }


    .menu-dashboard.open .menu .enlace {
        height: 100%;
        padding: 2px 0;
        text-align: center;
    }

    .menu-dashboard.open .menu .enlace i {
        font-size: 24px;
        margin-right: 0;
        opacity: 1;

    }

    .menu-dashboard.open .menu .enlace span {
        opacity: 1;

    }

    .enlace.lognup {
        position: relative;
    }

}