<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Tarjeta</title>
    <link rel="stylesheet" href="/calculoBasadoDias.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="container">
        <div class="column"></div>
        <div class="column">
            <div class="card">
                <div class="card-info">
                    <h2>CÁLCULO SEGÚN CANTIDAD DE DÍAS DE OPERACIÓN</h2>
                <form>
                    <label class="text">PROCESO</label>
                    <select class="custom-select">
                        <option value=""></option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                    </select>
                    <label >CANTIDAD A PROCESAR</label>
                    <input type="text" class="custom-input">
                    <label >CANTIDAD DE RECURSOS</label>
                    <input type="text" class="custom-input">
                    <label >LUGAR DE EJECUCION</label>
                    <select class="custom-select">
                        <option value=""></option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                    </select>
                </form>
                </div>
              </div>
        </div>
        <div class="column"></div>
      </div>
</body>
</html>

