<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Tarjeta</title>
    <link rel="stylesheet" href="/css/creacionusuarios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="container">
            <div class="card">
                <div class="card-info">
                <form>
                    <h1>Creacion de Usuario</h1>
                    <label >NOMBRE:</label>
                    <input type="text" class="custom-input" placeholder="Ingrese nombre">
                    <label >APELLIDO:</label>
                    <input type="text" class="custom-input" placeholder="Ingrese apellido">
                    <label >USUARIO:</label>
                    <input type="text" class="custom-input" placeholder="Ingrese el usuario">
                    <label >CEDULA:</label>
                    <input type="text" class="custom-input" placeholder="Ingrese la cedula">
                    <label >ROL:</label>
                    <select class="custom-select">
                        <option value=""></option>
                        <option value="dog">ADMIN</option>
                        <option value="cat">OTRO</option>
                    </select>
                    <label class="text">CIUDAD:</label>
                    <select class="custom-select">
                        <option value=""></option>
                        <option value="dog">BOGOTA</option>
                        <option value="cat">MEDELLIN</option>
                    </select>
                    <button class="botoncalcular">CALCULAR</button>
                </form>
                </div>
              </div>
      </div>
</body>
</html>

