<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Dashboard</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="/js/script.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="containertarifador" >
        <div class="menu-dashboard">
            <div class="top-menu">
                <div class="logo">
                    <img src="/img/company_51033039_logo.jpg" alt="">
                    <span>Colvatel</span>
                </div>
                <div class="toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </div>
            <hr>
            <div class="menu">
                <div class="enlace">
                    <i class="bx bx-grid-alt"></i>
                    <span>Dashboard</span>
                </div>
    
                <div class="enlace">
                    <i class="bx bx-user"></i>
                    <span>Gestión de Usuarios</span>
                </div>
    
                <div class="enlace">
                    <i class="bx bx-file-blank"></i>
                    <span>Tarificador segun RR.HH.</span>
                </div>
    
                <div class="enlace">
                    <i class="bx bx-file-blank"></i>
                    <span>Tarificador según días</span>
                </div>
    
                <div class="enlace">
                    <i class="bx bx-file-blank"></i>
                    <span>Tarificador TRD</span>
                </div>
    
                <div class="enlace">
                    <i class="bx bx-cog"></i>
                    <span>Opciones</span>
                </div>
    
                <div class="enlace lognup" class="exit">
                    <i class='bx bx-exit'></i>
                    <span>Salir</span>
                </div>
                
    
            </div>
        </div>
        <div class="menuUser">
            <div class="contentperfil">
                <img src="/img/blank-profile-picture-973460_1280.png" alt="" class="imgperfil">
            </div>
        </div>
        <div class="contdatos">
            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In laborum, facilis necessitatibus similique impedit repellendus consequatur ratione iusto. Culpa sit odit laudantium nam aspernatur, accusantium quos velit quod rerum consequatur.</h1>
        </div>
    </div> 
</body>
</html>